/* purgecss start ignore */

/**
 * This injects Tailwind's base styles and any base styles registered by
 * plugins.
 */
@import "tailwindcss/base";
/* @import "./button.css"; */

/**
 * This injects Tailwind's component classes and any component classes
 * registered by plugins.
 */
@import "tailwindcss/components";

/* purgecss end ignore */

/**
 * This injects Tailwind's utility classes and any utility classes registered
 * by plugins.
 */
@import "tailwindcss/utilities";

/**
 * Use this directive to control where Tailwind injects the responsive
 * variations of each utility.
 *
 * If omitted, Tailwind will append these classes to the very end of
 * your stylesheet by default.
 */
@import "tailwindcss/variants";

@layer base {
  @font-face {
    font-family: Airstrike;
    font-style: normal;
    font-weight: 400;
    font-display: auto;
    src: url("/fonts/airstrike.ttf") format("truetype");
  }

  body {
    @apply antialiased bg-gray-200 text-gray-900 font-sans;
  }

  [type="text"],
  [type="email"],
  [type="url"],
  [type="password"],
  [type="number"],
  [type="date"],
  [type="datetime-local"],
  [type="month"],
  [type="search"],
  [type="tel"],
  [type="time"],
  [type="week"],
  [multiple],
  textarea,
  select {
    @apply block mt-1 w-full md:max-w-sm text-gray-800 bg-gray-100 focus:bg-white rounded-md border-transparent focus:border-invitely focus:ring-0;
  }

  [type="checkbox"],
  [type="radio"] {
    @apply rounded bg-gray-200 border-transparent focus:border-transparent focus:bg-invitely text-invitely focus:ring-1 focus:ring-offset-1 focus:ring-invitely;
  }

  input[disabled],
  select[disabled] {
    @apply bg-white opacity-100;

    background-image: none;
  }

  input[type="text"]::placeholder{
    @apply font-thin text-invitely italic 
  }
}

/* @layer utilities {} */
@layer components {
  .btn-icon-primary {
    @apply mx-1 py-1 px-1 text-gray-600 hover:text-invitely bg-white disabled:opacity-50;
  }

  .btn-icon-accent {
    @apply mx-1 py-1 px-1 text-white bg-gray-800 hover:bg-invitely disabled:opacity-50;
  }

  .btn-primary {
    @apply py-1 px-4 text-gray-700 hover:text-invitely bg-white rounded-md shadow active:hover:shadow-md text-sm font-medium disabled:opacity-50;
  }

  .btn-accent {
    @apply py-1 px-4 text-white bg-gray-800 hover:bg-invitely-dark bg-invitely rounded-md shadow active:hover:shadow-md text-sm font-medium disabled:opacity-50;
  }

  .badge {
    @apply py-1 px-2 text-xs font-medium leading-tight text-white rounded-full;
  }

  .page {
    @apply w-full;
  }

  .page-virtual {
    @apply w-full h-full;
  }

  .page-actions {
    @apply gap-24 sm:gap-4 justify-end items-center p-4 -mt-4 flex;
  }

  .page-actions > button {
    @apply flex-1 sm:flex-none md:min-w-[8rem];
  }

  .divider-v {
    @apply py-1;
  }

  .card {
    @apply flex flex-col my-4 mx-4 bg-white rounded;
  }

  .row {
    @apply w-full flex flex-col md:flex-row flex-wrap;
  }

  .col {
    @apply flex-1 p-4;
  }

  .placeholder-logo-white {
    @apply bg-contain bg-center bg-no-repeat bg-blend-screen;

    background-image: var(--logo-white);
  }

  .contraint-option {
    @apply rounded-sm border-2 shadow-sm p-2 text-center flex h-48 w-48 flex-col items-center justify-center cursor-pointer;
  }
}
