:root {
  --color-black: #000;
  --color-invitely: hsl(1, 46%, 75%);
  --color-invitely-extralight: #dca1a033;
  --color-invitely-mediumlight: #dca1a070;
  --color-invitely-light: #fbe8e8;
  --color-invitely-dark: #b37675;
}
