:root {
  --color-black: #000;
  --color-supervan: #1d6979;
  --color-supervan-extralight: #7da1ac33;
  --color-supervan-mediumlight: #7da1ac70;
  --color-supervan-light: #c8dadd;
  --color-supervan-dark: #114456;
}
